/**
 * Body CSS
 */

html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
  * Sidebar CSS
  */

#sidebar {
  background-color: #e57373;
  padding: 15px;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    padding-top: 30px;
  }
}

/**
  * Content CSS
  */
@media (min-width: 768px) {
  #content {
    margin-left: 180px;
  }
}

.mui--text-body2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.error {
  color: #e57373;
}

.firebase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firebase p {
  margin: 0;
}

.firebase span {
  color: #ffa50e;
}

.login-btn {
  min-width: 70px;
  text-transform: none;
}

.login-btn--green {
  background-color: lightgreen;
  color: black;
}

.modal {
  min-width: 350px;
  max-width: 80vw;
  padding: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  background-color: #fff;
}
